.editSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 50px;
    /* background-color: red; */
}

.editProfileForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.avatarField {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
    background-color: #323232;
    padding: 12px;
    border-radius: 30px;
    width: 65%;
    gap: 10px;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.avatarField p {
    /* background-color: green; */
    font-weight: 700;
}

.avatarField img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.avatarField button {
    width: fit-content;
    padding: 6px 10px;
    background: linear-gradient(135deg, #1D9BF0, #1d4bf0);
    border: none;
    outline: none;
    font-size: 16px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    border-radius: 10px;
}

.textField{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textField label{
    font-size: 20px;
    font-weight: 600;
}

.textField textarea{
    resize: none;
    outline: none;
    /* border: 1px solid white; */
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 65%;
}

.collegeField label{
    pointer-events: none;
}

.collegeField textarea{ 
    pointer-events: none;
    color: rgb(172, 171, 171);
}

.textField textarea:focus{
    border: 1px solid white;
}

.submitBtn{
    /* background-color: red; */
    width: fit-content;
    padding: 9px 14px;
    background: linear-gradient(135deg, #1D9BF0, #1d4bf0);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.noChange{
    pointer-events: none;
    background: linear-gradient(135deg, #0d4468, #0c1d5d);
}

@media (max-width: 1080px) {
    .avatarField,.textField textarea{
        width: 90%;
    }   
}

@media (max-width: 900px) {
    .avatarField, .textField textarea{
        width: 100%;
    }   
}