.inboxContainer {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    background-color: #000000;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px white;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient(135deg, #0b3653, black, #5a032e);
    padding: 20px 15px;
    /* overflow-x: hidden; */
    overflow-y: auto;
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hides scrollbar in IE/Edge */
}


.inboxContainer::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari */
}

.inbox {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
}

.inbox img {
    width: 35px;
    height: 35px;
    border-radius: 17px;
}

.inboxRight {
    width: 100%;
    padding: 0px 20px;
}

.inboxTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inboxBottom{
    width: 85%;
    font-size: 14px;
    opacity: 70%;
}

.inboxContainer>.inbox:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 60px; /* Adjust based on your image width */
    right: 0;
    height: 1px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(107, 102, 102, 0.3) 20%,
        rgba(107, 102, 102, 0.7) 50%,
        rgba(107, 102, 102, 0.3) 80%,
        transparent 100%
    );
}

.responseOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
    pointer-events: none;
}

.loaderStyles{
    flex: 1;
    align-self: center;
    padding: 150px 0;
}

.errorText{
    flex: 1;
    align-self: center;
    padding: 150px 0;
    font-size: 20px;
    color: #fc0585;
    text-shadow: 0 0 5px #fc0585de, 0 0 10px #fc0585a0;
}