/* Sidebar.module.css */
.sidebar {
    background-color: #323232;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 244px;
    padding: 20px 12px;
    border-right: 1px solid rgb(107, 102, 102);
    display: flex;
    flex-direction: column;
    z-index: 102;
    transition: width 0.3s ease-in-out;
}

.logo {
    padding: 25px 12px 16px;
    margin-bottom: 19px;
}

.logo h1 {
    font-family: 'Billabong', cursive;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.navItem:hover {
    background-color: #000000;
}

.navItem span {
    margin-left: 16px;
}

.icon {
    font-size: 24px;
}

.bottomOptions {
    margin-top: auto;
    padding-bottom: 20px;
}


.logoutButton {
    border: none;
    background-color: #323232;
    width: 100%;
    cursor: pointer;
}

.createPost{
    border: 2px solid white;
}
.createPost span{
    transition: all 0.3s ease-in-out;
}
.createPost:hover{
    background-color: white;
}
.createPost:hover span{
    color: black;
    font-weight: 700;
    font-size: 18px;
}
.createPost:hover svg path{
    fill: #FC0585;
}

.settingsItem{
    position: relative;
}

.settingsOptions{
    position: absolute;
    top: -90%;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.closeSettings{
    width: 100%;
    text-align: end;
}

.linkStyles{
    text-decoration: none;
}

/* Use these styles for instagram like searchBar opening and notifications opening */
/* Though it is not working properly as of now */

/* .searchBarOpen.sidebar {
    width: 72px;
    align-items: center;
}

.searchBarOpen .logo {
    padding: 25px 0 16px;
}

.searchBarOpen .logo h1 {
    display: none;
}

.searchBarOpen .navItem span {
    display: none;
}

.searchBarOpen .navItem {
    padding: 12px;
    justify-content: center;
} */

/* Responsive styles */
@media (max-width: 1264px) {
    .sidebar {
        width: 72px;
        align-items: center;
    }

    .logo {
        padding: 25px 0 16px;
    }

    .logo h1 {
        display: none;
    }

    .navItem span {
        display: none;
    }

    .navItem {
        padding: 12px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}